:root {
    --min-color : rgb(219,138,222);
    /* --min-color:linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) */
}

body{
    font-family: 'Open Sans', sans-serif;
    /* height: 6000px; */
}

.main-btn {
    background-color: var(--min-color);
    color: white;
}
/* start navbar  */
.navbar  {
    background-color: var(--min-color);
    background: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) ;
    /* border-bottom-left-radius: 700px;
    border-bottom-right-radius: 700px; */
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size:1rem;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: rgb(243, 236, 236);
    
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    font-size: .8rem;
    color: black;
    transition: all .5s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.051);
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
    padding-left: 30px;
    color: var(--min-color);
    background-color: white;
}
/* end navbar  */
/* start landing  */
.landing {
    /* background-color: red; */
    min-height: calc(70vh - 92px);
}
.landing .container {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    min-height:calc(55vh - 92px);
    /* background-color: green; */
    position: relative;
}
.landing .container .under {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.landing .container .under h1 {
    font-size: 4rem;
    font-weight:bolder;
}
/* end  landing  */
/* start section  */
.section h1 span {
    color: var(--min-color);
}
.section .hello {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px black;
}
.section .hello div {
    color: var(--min-color);
}
.section .hello .pp {
    background-color: white;
    position: relative;
    top: -30px;
    border-radius: 10px;
    width: 50%;
    transform: translateX(50%);
    box-shadow: 0px 0px 10px black;
}
/* end section  */
/* start .contact-us  */
.contact-us {
    margin-top: 200px;
    background-image:url("/image/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    height: 100%;
}
.contact-us h1 span {
    color: var(--min-color);
}
.contact-us .map-2{
    background-image: url("/image/Google\ Maps_\ tra\ le\ funzioni\ intelligenti\ ora\ evita\ anche\ le\ multe\ degli\ autovelox\ -\ Ambiente\ Bio.jfif");
    height: 300px;
}
@media (max-width:537px) {
    .contact-us .map-2{
        border-radius: 10px;
    }
    
}

@media (max-width:992px ) {
    .contact-us .map-2{
        margin-bottom :100px
    }
}
.contact-us .contact .ph {
    background-color: var(--min-color);
    padding: 10px;
    border-radius: 50px;
}
.contact-us .contact {
    background-color: rgb(221, 204, 204);
    padding: 5px;
    border-radius: 10px;
}
.contact-us .row-2 {
    bottom:-87px;
}
.contact-us .row .ff {
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
.contact-us .row .ff .full-name ,
.contact-us .row .ff .your-email ,
.contact-us .row .ff .your-massage {
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 5px;
    height: 40px;
}
.contact-us .row .ff .full-name:focus ,
.contact-us .row .ff .your-email:focus ,
.contact-us .row .ff .your-massage:focus{
    outline: none;
}
.contact-us .row .ff .your-massage {
    height: 130px;
}
.contact-us .row .ff .main-btn {
    width:200px;
    align-self: flex-end;
}
.contact-us .row .ff .main-btn:hover {
    
    color: white;
}
/* end .contact-us  */
/* start linked  */
.contact-us .row .linnn {
    margin-top: 100px;
}
.contact-us .row .face-1,
.contact-us .row .twi-1,
.contact-us .row .linkk-1,
.contact-us .row .wiff-1,
.contact-us .row .baa-1{
    background-color: white;
    border-radius:50%;
    padding:15px;
    font-size: 20px;
    color: var(--min-color);
    transition: all .9s;
    
}
.contact-us .row .face-1:hover,
.contact-us .row .twi-1:hover,
.contact-us .row .linkk-1:hover,
.contact-us .row .wiff-1:hover,
.contact-us .row .baa-1:hover {
    background-color: var(--min-color);
    color: white;
}
/* end linked  */
/* @media (max-width:576px) {
    .contact-us {
        padding-bottom: 280px;
    }
} */