:root {
    --min-color : rgb(219,138,222);
    /* --min-color:linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) */
}

body{ 
    font-family: 'Open Sans', sans-serif;
    /* height: 6000px; */
}
.main-btn {
    background-color: var(--min-color);
    color: white;
}
/* start navbar  */
.navbar  {
    background-color: var(--min-color);
    background: linear-gradient(-145deg, rgba(219,138,222,1) 0%, rgba(246,191,159,1) 100%) ;
    /* border-bottom-left-radius: 700px;
    border-bottom-right-radius: 700px; */
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size:1rem;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: rgb(243, 236, 236);
    
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    font-size: .8rem;
    color: black;
    transition: all .5s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.051);
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
    padding-left: 30px;
    color: var(--min-color);
    background-color: white;
}
/* end navbar  */
/* start landing  */
.landing .best {
    font-size: 4.5rem;
}
.landing {
    min-height: calc(100vh - 91.98px);
}

.landing .first {
    margin-top: 100px;
}
.landing .best span {
    color: var(--min-color);
}
.landing .image-h .image-j img {
    z-index: 2;
    /* width: 500px; */
}
.landing .image-h::before {
    content: "";
    position: absolute;
    background-image: url("/image/banner-right-before-girl-dec.png");
    width: 350px;
    height: 350px;
    z-index: -10;
    right: 0px;
}
.landing::before {
    content: "";
    position: absolute;
    background-image: url("/image/banner-left-befor-dec.png");
    width: 215px;
    height: 430px;
    z-index: -10;
    left: -20px;
    bottom:-200px;
}

/* end  landing  */
/* start services  */
.services {
    margin-top: 100px;
    margin-bottom: 100px;
}
.services .top  h1 span {
    color: var(--min-color);
}
.services .download  li {
    background-color: rgb(214, 214, 214);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left:3px;
}
.services .download  li.active {
    background-color: var(--min-color);
}
/* emd services  */
/* start you can learn  */
.learn {
    margin-top: 20px;
}
.learn h1 span {
    color: var(--min-color);
}
.learn .row .main-btn {
    background-color: white;
    color: black;
    border: 3px solid rgba(219,138,222,0.5);
}
.learn .row .main-btn.active {
    border-color: var(--min-color);
    border-width: 4px;
    color: var(--min-color);
}
.learn .row.boo {
    margin-top: 40px;
}
.learn .row img {
    /* max-width: 300%; */
    /* overflow:hidden; */
    width:100%;
    height: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
@media (max-width:993px) {
    .learn .row img {
        width:100% !important;
        height: 100%;
    }
}
/* end you can learn  */
/* start section-3  */
.section-3 {
    background-image: url("/image/cta-bg-section-3.png");
    width: 100%;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    padding: 180px 0px 180px 0px;
}
.section-3 .row img {
    width: 90%;
}
.section-3 .row h1 {
    font-size: 4rem !important;
}
.section-3 .row .main-btn {
    background-color: white;
    color: var(--min-color);
}
/* end section-3  */
/* start section-4  */
.section-4 {
    margin-top: 140px;
}
.section-4 .first h1 span {
    color: var(--min-color);
}
.section-4 .row  .fashion {
    color:var(--min-color);
}
.section-4 .first {
    margin-bottom: 20px;
}
.section-3 .carde {
    border: none;
    border-radius: none;
    transition: all 1.9s;
}
.section-4 .carde:hover  {
    border-radius: 7px;
    box-shadow: 2px 2px 15px black;
}
.section-4 .download  li {
    background-color: rgb(214, 214, 214);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left:3px;
}
.section-4 .download  li.active {
    background-color: var(--min-color);
}
.section-4::before {
    content: "";
    position: absolute;
    background-image: url("/image/testimonials-left-dec.png");
    background-repeat: no-repeat;
    width: 632px;
    height: 352px;
    z-index: 1;
    left:0px;
    top: -100px;
}
@media (max-width:512px) {
    .section-4::before {
        width: 300px;
    }
}
.section-4::after {
    content: '';
    position: absolute;
    background-image: url("/image/testimonials-right-dec.png");
    right: 0px;
    bottom: -140px;
    width: 632px;
    height: 352px;
    z-index: 1;
}
/* end section-4  */
/* start .contact-us  */
.contact-us {
    margin-top: 200px;
    background-image:url("/image/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    height: 100%;
}
.contact-us h1 span {
    color: var(--min-color);
}
.contact-us .map-2{
    background-image: url("/image/Google\ Maps_\ tra\ le\ funzioni\ intelligenti\ ora\ evita\ anche\ le\ multe\ degli\ autovelox\ -\ Ambiente\ Bio.jfif");
    height: 300px;
}
@media (max-width:537px) {
    .contact-us .map-2{
        border-radius: 10px;
    }
    
}

@media (max-width:992px ) {
    .contact-us .map-2{
        margin-bottom :30px
    }
}
.contact-us .contact .ph {
    background-color: var(--min-color);
    padding: 10px;
    border-radius: 50px;
}
.contact-us .contact {
    background-color: rgb(221, 204, 204);
    padding: 5px;
    border-radius: 10px;
}
.contact-us .row-2 {
    bottom:-87px;
}
.contact-us .row .ff {
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
.contact-us .row .ff .full-name ,
.contact-us .row .ff .your-email ,
.contact-us .row .ff .your-massage {
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 5px;
    height: 40px;
}
.contact-us .row .ff .full-name:focus ,
.contact-us .row .ff .your-email:focus ,
.contact-us .row .ff .your-massage:focus{
    outline: none;
}
.contact-us .row .ff .your-massage {
    height: 130px;
}
.contact-us .row .ff .main-btn {
    width:200px;
    align-self: flex-end;
}
.contact-us .row .ff .main-btn:hover {
    
    color: white;
}
/* end .contact-us  */
/* start linked  */
.contact-us .row .linnn {
    margin-top: 100px;
}
.contact-us .row .face-1,
.contact-us .row .twi-1,
.contact-us .row .linkk-1,
.contact-us .row .wiff-1,
.contact-us .row .baa-1{
    background-color: white;
    border-radius:50%;
    padding:15px;
    font-size: 20px;
    color: var(--min-color);
    transition: all .9s;
    
}
.contact-us .row .face-1:hover,
.contact-us .row .twi-1:hover,
.contact-us .row .linkk-1:hover,
.contact-us .row .wiff-1:hover,
.contact-us .row .baa-1:hover {
    background-color: var(--min-color);
    color: white;
}
/* end linked  */
.contact-us .row .hellow p {
    color:white;
}
@media (min-width:993px) {
    .contact-us .row .ff {
        margin-left: -40px;
    }
    .contact-us .row .linnn {
        margin-top: 200px
    }
}
@media (max-width:992px) {
    .contact-us .contact {
        margin-bottom:10px;
    }
    .contact-us .row-2 {
        bottom:-200px;
        z-index:100;
    }
    .contact-us .row .ff {
        margin-top:200px
    }
}
/* @media (max-width:576px) {
    .contact-us {
        padding-bottom: 280px;
    }
} */